body {
  background-color: white;
  margin: 0;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
  overflow-x: hidden;
}

nav{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

ion-icon{
  font-size: 2.5rem;
}

h1{
  margin-top: 0px;
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 10px;
  background-color: #113255;
}

::-webkit-scrollbar-thumb {
  background-color: #0B2239;
  border-radius: 5px;
}

/* Firefox */
::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-thumb {
  background-color: #0B2239;
  border-radius: 5px;
}

.landing{
  background: url(./imgs/header_bg.svg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
}

.title{
  font-size: 2rem;
}

.title a{
  text-decoration: none;
  color: white;
}

.icons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.landing-content{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  position: relative;
}

.landing-content input{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  width: 30vw;
  min-width: 300px;
}

#search-results{
  position: absolute;
  top: 120px;
  margin: 0px;
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  font-size: 1.25rem;
  list-style: none;
  padding: 0px;
  background-color: #0B2239;
  max-height: 200px;
  overflow-y: scroll;
}

#search-results li{
  padding: 5px 10px;
  border-bottom: 1px solid #113255;
  color: white;
}

#search-results li a{
  text-decoration: none;
  color: unset;
  display: flex;
  align-items: center;
}
#search-results li a ion-icon{
  font-size: 1.5rem;
}

.glossary-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #113255;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.glossary-nav button{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  padding: 10px 10px;
}

.glossary-nav button:hover{
  background-color: #0B2239;
}

#sections-container{
  padding: 20px 20px;
}

#sections-container a{ 
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  text-decoration: none;
  color: unset;
}

.icon-div{
  display: flex;
}

#sections-container a ion-icon{
  font-size: 1rem;
}

.glossary-section{
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.section-content{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 25px;
}

/*  */

.show-nav{
  background: url(./imgs/header_bg.svg);
  background-size: cover;
  background-position: 0% 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

#show-header{
  background-color: #5A6099;
  color: white;
  padding: 10px 20%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#show-header h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0px;
}

.show-nav input{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 1.25rem;
  width: 30vw;
  min-width: 300px;
}

.show-nav #search-results{
  top: 50px;
  width: 30vw;
  padding: 5px 10px;
}

#show-sections-container{
  padding: 0px 20%;
}

#show-sections-container h2{
  font-size: 1.25rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

#show-sections-container div{
  white-space: pre-wrap;
  line-height: 150%;
}

#show-date-container{
  margin: 0px 20%;
  margin-top: 100px;
}